VehicleMonitorBackend/.vs/
VehicleMonitorBackend/VehicleMonitorBackend/VehicleMonitorBackend.API.Common/bin/
VehicleMonitorBackend/VehicleMonitorBackend/VehicleMonitorBackend.API.Common/obj/
VehicleApplicationBackend/.vs/
VehicleApplicationBackend/VehicleApplicationBackend/bin/
VehicleApplicationBackend/VehicleApplicationBackend/obj/
